/* ==========================================
            Loading Screen
========================================== */

.loading-screen{

    position:fixed;

    inset:0;

    background:var(--page-transition,#ffffff);

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:20px;

    opacity:0;

    visibility:hidden;

    transition:.5s ease;

    z-index:10000;

}

.loading-screen.show{

    opacity:1;

    visibility:visible;

}

.loading-screen img{

    width:120px;

    height:120px;

    object-fit:contain;

}

.loading-screen h2{

    color:#1e88ff;

    font-size:28px;

    font-weight:700;

}